#Logo{ 
    width: 102px;
}
.navbar {
  background-color: #f4f4f400;
  padding: 10px 20px;
  box-shadow: 4px 5px 0px #d3b289;
  position: relative;
  bottom: 80px;
  height:80px ;
  margin-top: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0;
}

.nav-item a {
  text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
}

.nav-item a:hover {
  color: black;
border: solid 2px #d3b289;
text-decoration: none;
transition: all 0.1s;
border-radius: 5px;
}

@media (max-width: 600px) {
  .nav-list {
      flex-direction: column;
      align-items: center;
  }

  .nav-item {
      margin-bottom: 10px;
  }
.navbar{
          padding-top: 35px;
}
}

.Pic2{
    margin-top: -222px;
    float: right;
    height: auto;
    width: 650px;
    margin-right: -8px;
}


#h1{
    font-family: "Alex Brush", cursive;
    
    margin-top: 110px;
    color: #d3b289;
    font-size: 42px;
    position: relative;
    bottom: 45px;
}

#h2{
    font-family: "Libre Bodoni", serif;
    font-size: 60px;
    color: black;
    margin-bottom: -10px;
    line-height: 60px;
}

#mhed{
    margin-left: 40px;
    margin-top: -70px;
}

#bio{
    margin-top: 70px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-size: medium;
}
#theline{
  
  width: 550px;
    border: 2px solid black;
    position: relative;
    top: 10px;
}
#btn2{
    margin-left: 40px;
}

#btn2 button{
    padding: 9px;
    border-radius: 6px;
    font-family: "Libre Bodoni", serif;
}

#ul{
    width: 540px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 30px;
}

#par2{
    margin-top: 30px;
    margin-left: 40px;
}

#par2 button{
    padding: 9px;
    border-radius: 6px;
    font-family: "Libre Bodoni", serif;
}

#bt1{
    background-color: white;
    border: 5px solid #d3b289;
    color: #d3b289; 
}

#bt2{
    background-color: #d3b289;
    color: white;
    border: 5px solid #d3b289; 
    margin-left: 15px;
}

#par2{
    font-size: 20px;
    font-family: "Libre Bodoni", serif;
}

#hed2{
    margin-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#hed3{
    margin-top: 50px;
    font-family: "Libre Bodoni", serif;
}

#hr2{
    width: 300px;
    border: 1px solid black;
}

#hr3{
    width: 370px;
    border: 1px solid black;
    position: relative;
    bottom: 40px;

}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px;
  padding-top: 40px;
  padding-bottom: 40px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #final{
    padding-bottom: 50px;
  }
  .card { 
    padding: 16px;
    text-align: center;
    background-color: white;
    border-radius: 10%;
  }
  
  #ppics{
    width: 280px;
    height: 280px;
    border-radius: 5%;
  }

  #sep{
    text-decoration: none;
    color: #d3b289;
  }

  #smblock{
    background-color: #d3b289;
    padding-bottom: 100px;
    padding-top: 50px;
    border-radius: 30px;
  }

  #smblock hr{
    width: 400px;
    border: 1px solid black;
  }

  #smblock img{
    width: 320px;
    height: auto;
    margin-top: -280px;
    margin-right: 200px;
    border-radius: 20px;
  }

  #smblock h1{
    margin-left: 240px;
  }

  #smblock ul{
    margin-left: 200px;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .card{
        background-color: white;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    }
    .Pic2{
      height: auto;
      width: 280px;
      margin-bottom: -200px;
      margin-top: 40px;
      align-items: center;
      border-radius: 8%;
      margin-top: 100px;
      position: relative;
      justify-content: center;
    }
    .navbar{
      margin-top: 0px;
    }
    #mhed{
      margin-top: 450px;
    }
    .nav-list{
      margin-top: 20px;
      position: relative;
      top: 50px;
    }
    #smblock img{
      display: none
    }
    #smblock li{
      text-align: center;
      margin-left: -220px;
    }
    #smblock  hr{
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    #smblock{
      align-items: center;
    }
    #ul{
      width: 320px;
    }
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #d3b289;
	border-top-left-radius:150px ;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color:#d3b289;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 1s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.iconsse{
  width: 55px;
  height: 55px;
  position: relative;
  top: 25px;
}
.fulldd{
  position: relative;
  right: 15px;
}
.footerNav ul li a:hover{
    opacity: 1;
	color: black;
}
.footerBottom{
    background-color: #d3b289;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
#ffl{
  border: solid 1px rgba(0, 0, 0, 0.325);
}
.designer{
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}


  